/* Base Styles */
main {
  font-size: 1rem;
  font-weight: 300;
  color: #3d3d3d;
  padding: 50px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 3.052rem;
  letter-spacing: -0.0625rem;
  line-height: 3rem;
  font-weight: 600;
  margin: 0 0 30px;
}

h2 {
  font-size: 2.75rem;
  margin-bottom: 10px;
  margin-bottom: 30px;
  letter-spacing: 0.05px;
  line-height: 2.25rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 10px;
  letter-spacing: 0.05px;
  line-height: 2.25rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
}

p {
  font-size: 1.15rem;
}

small {
  font-size: 0.85rem;
}

a:hover {
  text-decoration: none;
}

.navbar a {
  font-size: 1.3rem;
}

.navbar img {
  height: 30px;
}

/* Custom Helper Classes */
.mw-50 {
  max-width: 50px;
}

.h-90 {
  height: 90%;
}

.ml-5px {
  margin-left: 5px;
}

.button-xxs {
  font-size: 10px;
  padding: 1px 4px;
  border-radius: 50%;
  margin-top: -15px;
}

.text-decoration-underline {
  text-decoration: underline;
}

.opaque {
  opacity: 0.5;
}
